<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/xinfangBroker.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.qfang.AnChang</string>
		<key>CFBundleShortVersionString</key>
		<string>3.4.7</string>
		<key>CFBundleVersion</key>
		<string>10</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: 潮昂 靖 (8WUU6A4M8H)</string>
		<key>Team</key>
		<string>PDFNCJM5PL</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2019-12-10T01:46:12Z</date>
	<key>Name</key>
	<string>xinfangBroker</string>
	<key>SchemeName</key>
	<string>xinfangBroker</string>
</dict>
</plist>
